[submodule "dynare"]
	path = dynare
	url = https://github.com/DynareTeam/dynare.git
[submodule "theme"]
	path = theme
	url = https://git.nomics.world/macro/theme-bootstrap3.git
[submodule "plugins"]
	path = plugins
	url = git@github.com:getpelican/pelican-plugins.git
